@font-face{
    font-display:swap;
    font-style:normal;
    src:url("../Quicksand/static/Quicksand-Bold.ttf");
    font-family:"Quicksand";
    font-weight: 700;
}
@font-face{
    font-display:swap;
    font-style:normal;
    src: url("../Quicksand/static/Quicksand-Medium.ttf");
    font-family: "Quicksan";
    font-weight: 500;
}